h1{
    text-align: center;
      background-color: orangered;
}
nav{
    text-align: center;
    color: orangered;
    background-color: blue;
}
body{
    background-color: aqua;
}
form{
    color: orangered;
}